In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [6]:
engine = create_engine('postgresql://yopter:R3x1q3tjk@yopter.ccyy9l6xansm.us-east-1.redshift.amazonaws.com:5439/yopterdwh')

In [3]:
catalogo = pd.read_csv("C:/Users/Kike/Documents/MEGA/Yopter/Catalogo_IRS_Coneval.csv",encoding="ISO-8859-1")

In [4]:
catalogo.head(10)

,Clave_Estado,Nombre_Estado,Clave_Mun,Nombre_Mun,IRS_2015,Nivel_Socioe
0,1.0,Aguascalientes,1001.0,Aguascalientes,Muy bajo,A
1,1.0,Aguascalientes,1002.0,Asientos,Bajo,B
2,1.0,Aguascalientes,1003.0,Calvillo,Bajo,B
3,1.0,Aguascalientes,1004.0,Cosío,Muy bajo,A
4,1.0,Aguascalientes,1005.0,Jesús María,Muy bajo,A
5,1.0,Aguascalientes,1006.0,Pabellón de Arteaga,Muy bajo,A
6,1.0,Aguascalientes,1007.0,Rincón de Romos,Muy bajo,A
7,1.0,Aguascalientes,1008.0,San José de Gracia,Bajo,B
8,1.0,Aguascalientes,1009.0,Tepezalá,Bajo,B
9,1.0,Aguascalientes,1010.0,El Llano,Bajo,B

In [5]:
catalogo.to_sql('Cat_Coneval_Nivel_Socieoec', engine, schema='analytics', index=False, if_exists='replace')

C:\Users\Kike\.conda\envs\KikeEnv\lib\site-packages\pandas\io\sql.py:1191: UserWarning: The provided table name 'Cat_Coneval_Nivel_Socieoec' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [7]:
df= pd.read_sql_query('SELECT * FROM analytics.Cat_Coneval_Nivel_Socieoec;', engine)

In [8]:
df.count()

clave_estado     2457
nombre_estado    2457
clave_mun        2457
nombre_mun       2457
irs_2015         2457
nivel_socioe     2446
dtype: int64